
<div class="card my-3">
    <div class="card-body">
        <div class="row align-items-center">
            <div class="col-sm-2">
                <!-- You can add an image here if needed -->
                <!-- <img alt="{{ doc.name }}" src="{{ doc.image }}" class="img-fluid rounded-circle"/> -->
            </div>
            <div class="col">
                <h5 class="card-title">{{ doc.book_serial }}</h5>
                <p class="card-text"><b>Book Name :</b> {{ doc.book_name }}</p>
                <p class="card-text"><b>Borrower ID :</b> {{ doc.name1 }}</p>
                <p class="card-text"><b>Date & Time :</b> {{ doc.date_time }}</p>
                <p class="card-text"><b>Fine :</b> {{ doc.fine_amount }} Rs</p>
            </div>
        </div>
    </div>
</div>
